<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>My Website - About</title>
</head>
<body>
    <h1>Mia Hill</h1>
    <p>I am a third year computer science major with a minor in economics. I was born late November in Kingston, Jamaica. I have one sibling and a puppy. My hobbies include watching dramas and gaming.I am interested in web development because I am interested in becoming a web developer in the future and this course will serve as a good foundation to help achieving that goal.</p>
</body>
</html>
